{% extends 'admin/base_admin.html' %}
{% set active_page = 'events' %}

{% block pagehead %}
<div class="row">
    <div class="col">
        Events
    </div>
    <div class="float-right col">
        <form class="form-inline float-right my-2 my-lg-0" action="{{ url_for('admin_bp.search') }}" method="GET">
            <input type="hidden" id="id_sub" name="sub" value="events">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" name="q" required>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
{% endblock %}

{% block body %}
{% if events.items %}
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th class="align-middle">#</th>
            <th class="align-middle">
                {% if request.args.get('col') == 'title' and request.args.get('dir') == 'desc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='title', dir='asc') }}">Title  <span data-feather="chevron-down"></span></a>
                {% elif request.args.get('col') == 'title' and request.args.get('dir') == 'asc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='title', dir='desc') }}">Title  <span data-feather="chevron-up"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='title', dir='asc') }}">Title</a>
                {% endif %}
            </th>
            <th class="align-middle">
                {% if request.args.get('col') == 'id' and request.args.get('dir') == 'desc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='id', dir='asc') }}">Event ID  <span data-feather="chevron-down"></span></a>
                {% elif request.args.get('col') == 'id' and request.args.get('dir') == 'asc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='id', dir='desc') }}">Event ID  <span data-feather="chevron-up"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='id', dir='asc') }}">Event ID</a>
                {% endif %}
            </th>
            <th class="align-middle">
                {% if request.args.get('col') == 'start' and request.args.get('dir') == 'desc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='start', dir='asc') }}">Event start  <span data-feather="chevron-down"></span></a>
                {% elif request.args.get('col') == 'start' and request.args.get('dir') == 'asc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='start', dir='desc') }}">Event start  <span data-feather="chevron-up"></span></a>
                {% elif not request.args %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='start', dir='desc') }}">Event start  <span data-feather="chevron-up"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='start', dir='desc') }}">Event start</a>
                {% endif %}
            </th>
            <th class="align-middle">
                {% if request.args.get('col') == 'stop' and request.args.get('dir') == 'asc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='stop', dir='desc') }}">Event stop  <span data-feather="chevron-up"></span></a>
                {% elif request.args.get('col') == 'stop' and request.args.get('dir') == 'desc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='stop', dir='asc') }}">Event stop  <span data-feather="chevron-down"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='stop', dir='asc') }}">Event stop</a>
                {% endif %}
            </th>
            <th class="align-middle">
                {% if request.args.get('col') == 'notify' and request.args.get('dir') == 'yes' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='notify', dir='no') }}">Notify? <span data-feather="thumbs-up"></span></a>
                {% elif request.args.get('col') == 'notify' and request.args.get('dir') == 'no' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='notify', dir='yes') }}">Notify? <span data-feather="thumbs-down"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='notify', dir='yes') }}">Notify?</a>
                {% endif %}
            </th>
            <th class="align-middle">
                {% if request.args.get('col') == 'active' and request.args.get('dir') == 'yes' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='active', dir='no') }}">Is active? <span data-feather="thumbs-up"></span></a>
                {% elif request.args.get('col') == 'active' and request.args.get('dir') == 'no' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='active', dir='yes') }}">Is active? <span data-feather="thumbs-down"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.events', col='active', dir='yes') }}">Is active?</a>
                {% endif %}
            </th>
            <th class="align-middle"></th>
            <th class="align-middle"></th>
            <th class="align-middle"></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events.items %}
            {% if not event.is_active %}
            <tr class="list-group-item-danger align-middle">
            {% else %}
            <tr class="align-middle">
            {% endif %}

                <th class="align-middle" scope="row">{{ loop.index + events_per_page * (request.args.get('page', '1')|int - 1) }}</th>
                <td class="align-middle" width="35%">{{ event.title }}</td>
                <td class="align-middle">{{ event.id }}</td>
                <td class="align-middle">
                    {% if event.all_day_event %}
                        {{ event.time_event_start.strftime('%Y-%m-%d') }}
                    {% else %}
                        {{ event.time_event_start.strftime('%Y-%m-%d %H:%M') }}
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if event.all_day_event %}
                        {{ event.time_event_stop.strftime('%Y-%m-%d') }}
                    {% else %}
                        {{ event.time_event_stop.strftime('%Y-%m-%d %H:%M') }}
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if event.to_notify %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if event.is_active %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td class="align-middle">
                    <a href="{{ url_for('admin_bp.event', event_id=event.id) }}" class="btn btn-sm btn-block btn-info">Details</a>
                </td>
                <td class="align-middle">
                    {% if event.is_active %}
                    <a href="{{ url_for('admin_bp.act_event', event_id=event.id) }}" class="btn btn-sm btn-block btn-warning">Deactivate</a>
                    {% else %}
                    <a href="{{ url_for('admin_bp.act_event', event_id=event.id) }}" class="btn btn-sm btn-block btn-success">Activate</a>
                    {% endif %}
                </td>
                <td class="align-middle">
                    <a href="{{ url_for('admin_bp.del_event', event_id=event.id) }}" class="btn btn-sm btn-block btn-danger">Delete</a>
                </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

<nav aria-label="...">
    <ul class="pagination">
                <li class="page-item {{ 'disabled' if not prev_url }}">
            <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
        </li>
        {% for page_num in events.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if events.page == page_num %}
                <li class="page-item active">
                    {% if not request.args %}
                        <a class="page-link" href="{{ url_for('admin_bp.events', col='start', dir='asc', page=page_num) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
                    {% else %}
                        <a class="page-link" href="{{ url_for('admin_bp.events', col=request.args.get('col'), dir=request.args.get('dir'), page=page_num) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
            {% else %}
                {% if not request.args %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_bp.events', col='start', dir='asc', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_bp.events', col=request.args.get('col'), dir=request.args.get('dir'), page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
        {% endif %}

        {% else %}
            <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}
        {% endfor %}
                <li class="page-item {{ 'disabled' if not next_url }}">
            <a class="page-link" href="{{ next_url }}">Next</a>
        </li>
    </ul>
</nav>
{% else %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <img src="{{ url_for('static', filename='images/not-found.png') }}" alt="Record not found" class="img-fluid my-auto d-block mx-auto d-block">
    </div>
{% endif %}
{% endblock %}