{% extends 'admin/base_admin.html' %}
{% set active_page = "logs" %}

{% block pagehead %}
<div class="row">
    <div class="col">
        Logs
    </div>
    <div class="float-right col">

        <form class="form-inline float-right my-2 my-lg-0" action="{{ url_for('admin_bp.search') }}" method="GET">
            <input type="hidden" id="id_sub" name="sub" value="logs">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" name="q" required>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="btn btn-outline-primary my-2 my-sm-0 float-right mr-2" data-toggle="modal" data-target="#clear_logs_modal">Clear logs</button>
    </div>
</div>
{% endblock pagehead %}

{% block body %}
{% if logs.items %}
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th class="align-middle">#</th>
            <th class="align-middle">
                {% if request.args.get('col') == 'time' and request.args.get('dir') == 'desc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='time', dir='asc') }}">Log timestamp  <span data-feather="chevron-down"></span></a>
                {% elif request.args.get('col') == 'time' and request.args.get('dir') == 'asc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='time', dir='desc') }}">Log timestamp  <span data-feather="chevron-up"></span></a>
                {% elif not request.args %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='time', dir='asc') }}">Log timestamp  <span data-feather="chevron-down"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='time', dir='desc') }}">Log timestamp</a>
                {% endif %}
            </th>
            <th class="align-middle">
                {% if request.args.get('col') == 'log_name' and request.args.get('dir') == 'desc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='log_name', dir='asc') }}">Log name  <span data-feather="chevron-down"></span></a>
                {% elif request.args.get('col') == 'log_name' and request.args.get('dir') == 'asc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='log_name', dir='desc') }}">Log name  <span data-feather="chevron-up"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='log_name', dir='asc') }}">Log name</a>
                {% endif %}
            </th>
            <th class="align-middle">
                {% if request.args.get('col') == 'level' and request.args.get('dir') == 'asc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='level', dir='desc') }}">Log level  <span data-feather="chevron-up"></span></a>
                {% elif request.args.get('col') == 'stop' and request.args.get('dir') == 'desc' %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='level', dir='asc') }}">Log level  <span data-feather="chevron-down"></span></a>
                {% else %}
                <a style="color: inherit;" href="{{ url_for('admin_bp.logs', col='level', dir='asc') }}">Log level</a>
                {% endif %}
            </th>
            <th class="align-middle">
                Log message?
            </th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs.items %}
            <tr class="align-middle">
                <th class="align-middle" scope="row">{{ loop.index + logs_per_page * (request.args.get('page', '1')|int - 1) }}</th>
                <td class="align-middle">
                    {{ log.time.strftime('%Y-%m-%d %H:%M:%S') }}
                </td>
                <td class="align-middle">{{ log.log_name }}</td>

                <td class="align-middle">
                    {{ log.level }}
                </td>
                <td class="align-middle" width="40%">
                    {{ log.msg }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<nav aria-label="...">
    <ul class="pagination">
                <li class="page-item {{ 'disabled' if not prev_url }}">
            <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
        </li>
        {% for page_num in logs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if logs.page == page_num %}
                <li class="page-item active">
                    {% if not request.args %}
                        <a class="page-link" href="{{ url_for('admin_bp.logs', col='time', dir='desc', page=page_num) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
                    {% else %}
                        <a class="page-link" href="{{ url_for('admin_bp.logs', col=request.args.get('col'), dir=request.args.get('dir'), page=page_num) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
            {% else %}
                {% if not request.args %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_bp.logs', col='time', dir='desc', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_bp.logs', col=request.args.get('col'), dir=request.args.get('dir'), page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
        {% endif %}

        {% else %}
            <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}
        {% endfor %}
                <li class="page-item {{ 'disabled' if not next_url }}">
            <a class="page-link" href="{{ next_url }}">Next</a>
        </li>
    </ul>
</nav>
{% else %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <img src="{{ url_for('static', filename='images/not-found.png') }}" alt="Record not found" class="img-fluid my-auto d-block mx-auto d-block">
</div>
{% endif %}
<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="clear_logs_modal" tabindex="-1" role="dialog" aria-labelledby="clear_logs_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clear_logs_modal_label">Clear application logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('admin_bp.logs_clear') }}" method="GET">
                <div class="modal-body">
                    <h6>Please indicate the logs to be deleted:</h6>
                    <div class="row justify-content-md-center">
                    <select id="id-clear" style="text-align-last: center; width: 50%" class="form-control" name="range">
                        <option value="all">All logs</option>
                        <option value="day1">Older than 1 day</option>
                        <option value="week1">Older than 1 week</option>
                        <option value="week2">Older than 2 weeks</option>
                        <option value="month1" selected>Older than 1 month</option>
                        <option value="month3">Older than 3 months</option>
                    </select>
                    </div>
                </div>
                <div class="modal-footer justify-content-md-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock body %}
