{% extends "admin/base_admin.html" %}
{% set active_page = "users" %}

{% block pagehead %}
    Users
{% endblock %}

{% block body %}

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th class="align-middle">#</th>
            <th class="align-middle">Name</th>
            <th class="align-middle">User ID</th>
            <th class="align-middle">Email</th>
            <th class="align-middle">Role</th>
            <th class="align-middle">Can log in?</th>
            <th class="align-middle">Last seen</th>
            <th class="align-middle"></th>
            <th class="align-middle"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.is_admin() %}
            <tr class="alert alert-info ">
            {% else %}
            <tr>
            {% endif %}

                <th class="align-middle" scope="row">{{ loop.index }}</th>
                <td class="align-middle">{{ user.username }}</td>
                <td class="align-middle">{{ user.id }}</td>
                <td class="align-middle">{{ user.email }}</td>
                <td class="align-middle">{{ user.role|title }}</td>
                <td class="align-middle">
                    {% if user.access_granted %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if user.last_seen %}
                        {{ user.last_seen.strftime('%Y-%m-%d %H:%M') }}
                    {% else %}
                        Never
                    {% endif %}
                </td>
                <td class="align-middle">
                    <a href="{{ url_for('admin_bp.user', user_id=user.id) }}" class="btn btn-sm btn-block btn-info">Edit</a>
                </td>
                <td class="align-middle">
                    <a href="{{ url_for('admin_bp.del_user', user_id=user.id) }}" class="btn btn-sm btn-block btn-danger">Delete</a>

                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}