{% extends "admin/base_admin.html" %}
{% set active_page = "users" %}

{% block pagehead %}
    Users
{% endblock %}

{% block body %}
{% if users.items %}
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th class="align-middle">#</th>
            <th class="align-middle">Name</th>
            <th class="align-middle">User ID</th>
            <th class="align-middle">Email</th>
            <th class="align-middle">Role</th>
            <th class="align-middle">Can log in?</th>
            <th class="align-middle">Last seen</th>
            <th class="align-middle"></th>
            <th class="align-middle"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users.items %}
            {% if user.is_admin() %}
            <tr class="alert alert-info ">
            {% else %}
            <tr>
            {% endif %}

                <th class="align-middle" scope="row">{{ loop.index + users_per_page * (request.args.get('page', '1')|int - 1) }}</th>
                <td class="align-middle">{{ user.username }}</td>
                <td class="align-middle">{{ user.id }}</td>
                <td class="align-middle">{{ user.email }}</td>
                <td class="align-middle">{{ user.role|title }}</td>
                <td class="align-middle">
                    {% if user.access_granted %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if user.last_seen %}
                        {{ user.last_seen.strftime('%Y-%m-%d %H:%M') }}
                    {% else %}
                        Never
                    {% endif %}
                </td>
                <td class="align-middle">
                    <a href="{{ url_for('admin_bp.user', user_id=user.id) }}" class="btn btn-sm btn-block btn-info">Edit</a>
                </td>
                <td class="align-middle">
                    <a href="{{ url_for('admin_bp.del_user', user_id=user.id) }}" class="btn btn-sm btn-block btn-danger">Delete</a>

                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

<nav aria-label="...">
    <ul class="pagination">
                <li class="page-item {{ 'disabled' if not prev_url }}">
            <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
        </li>
        {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if users.page == page_num %}
                <li class="page-item active">
                    {% if not request.args %}
                        <a class="page-link" href="{{ url_for('admin_bp.users', page=page_num) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
                    {% else %}
                        <a class="page-link" href="{{ url_for('admin_bp.users', page=page_num) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
            {% else %}
                {% if not request.args %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_bp.users', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_bp.users', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
        {% endif %}

        {% else %}
            <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}
        {% endfor %}
                <li class="page-item {{ 'disabled' if not next_url }}">
            <a class="page-link" href="{{ next_url }}">Next</a>
        </li>
    </ul>
</nav>
{% else %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <img src="{{ url_for('static', filename='images/not-found.png') }}" alt="Record not found" class="img-fluid my-auto d-block mx-auto d-block">
    </div>
{% endif %}

{% endblock %}