{% extends 'base_main.html' %}

{% block pagehead %}
    Sign In
{% endblock %}

{% block body %}
<div class="text-center">
    <form action="" method="POST" class="form-signin">
        {{ form.hidden_tag() }}
        <img class="mb-4" src="{{ url_for('static', filename='login.png') }}" alt="" width="110" height="100">
        <div class="row justify-content-md-center">
        <p>
            {{ form.username(placeholder="Username", size=32, class="form-control align-items: center;") }}<br>
        </p>
        </div>
        <div class="row justify-content-md-center">
        <p>
            {{ form.password(placeholder="Password", size=32, class="form-control input-sm") }}
        </p>
        </div>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <div class="row justify-content-md-center ">
        {{ form.submit(class="btn btn-secondary btn-lg") }}
        </div>
    </form>
</div>
{% endblock %}
