{% extends 'base_main.html' %}

{% block pagehead %}
    New Event
{% endblock %}

{% block body %}
<div class="container">
<form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="id-title">Title</label>
            <input type="text" class="form-control" placeholder="Event's title" id="id-title" name="title" width="60" min="1" max="40" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="id-allday">All day event?</label>
            <select id="id-allday" style="text-align-last: center" class="form-control col-md-6" name="allday">
                <option style="text-align-last: center" value="True">Yes</option>
                <option style="text-align-last: center" value="False">No</option>
            </select>
        </div>
    </div>
    <label for="id-row_event_date">Time of event</label>
    <div class="form-row" id="id-row_event_date">
        <div class="input-group mb-3 col-md-6" id="id-date_time_event_start">
            <div class="input-group-prepend">
                <span class="input-group-text">Event start</span>
            </div>
            <input class="form-control text-center" type="date" id="id-date_event_start" name="date_event_start" value="{{ today }}" min="{{ today }}" pattern="\d{4}-\d{2}-\d{2}" required>
            <input class="form-control text-center" type="time" id="id-time_event_start" name="time_event_start" disabled>
        </div>
    </div>
    <div class="form-row">
        <div class="input-group mb-3 col-md-6" id="id-date_time_event_stop">
            <div class="input-group-prepend">
                <span class="input-group-text">Event stop</span>
            </div>
            <input class="form-control text-center" type="date" id="id-date_event_stop" name="date_event_stop" value="{{ today }}" min="{{ today }}" pattern="\d{4}-\d{2}-\d{2}" required>
            <input class="form-control text-center" type="time" id="id-time_event_stop" name="time_event_stop" disabled>
        </div>
    </div>

    <div class="form-row">
        <div class="input-group mb-3 col-md-8">
            <div class="input-group-prepend">
                <span class="input-group-text">Details</span>
            </div>
            <textarea class="form-control" aria-label="Details" placeholder="Event's details" id="id-details" name="details" maxlength="300"></textarea>
        </div>
    </div>

    <div class="form-row mb-3">
        <div class="input-group col-md-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Notify?</span>
            </div>
            <select class="form-control" style="text-align-last: center" id="id-to_notify" name="to_notify">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
        <div class="input-group col-md-6" id="id-date_time_notify">
            <div class="input-group-prepend">
                <span class="input-group-text">Reminder date</span>
            </div>
            <input class="form-control text-center" type="date" id="id-date_notify" name="date_notify" value="{{ today }}" min="{{ today }}" pattern="\d{4}-\d{2}-\d{2}" required>
            <input class="form-control text-center" type="time" id="id-time_notify" name="time_notify" value="08:00" required>
        </div>



    </div>

    <div class="form-row">
        <div class="input-group mb-4 col-md-5">
            <div class="input-group-prepend">
                <span class="input-group-text">Users to notify</span>
            </div>
            <select class="form-control" id="id-notified_user" name="notified_user" multiple size="3" required>
                {% for user in users %}
                <option style="text-align-last: center" value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
    <input type="submit" class="btn btn-danger" name="cancel-btn" value="Cancel" formnovalidate>
</form>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/event_new.js') }}"></script>
{% endblock %}