{% extends 'base_main.html' %}

{% block pagehead %}
<div class="row">
    <div class="col">
        List of events
    </div>
    <div class="float-right col">
        <form class="form-inline float-right my-2 my-lg-0" action="{{ url_for('main_bp.search') }}" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" name="q" value="{{ request.args.get('q') }}" required>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container">
<nav class="nav nav-pills nav-fill mb-3 border-bottom pb-3" id="id-nav_bar">
    <div class="col-2">
        <a class="btn btn-outline-primary btn-block {{ 'active' if request.args.get('list') == 'current' or not request.query_string }}" href="{{ url_for('main_bp.events_list', list='current') }}" role="button">Current events</a>
    </div>
    {% if current_user.is_authenticated %}
    <div class="col">
        <a class="btn btn-outline-primary btn-block {{ 'active' if request.args.get('list') == 'own' }}" href="{{ url_for('main_bp.events_list', list='own') }}" role="button">Own current events</a>
    </div>
    {% else %}
    <div class="col">
        <a class="btn btn-outline-primary btn-block disabled {{ 'active' if request.args.get('list') == 'own' }}" href="{{ url_for('main_bp.events_list', list='own') }}" role="button">Own current events</a>
    </div>
    {% endif %}
    <div class="col">
        <a class="btn btn-outline-primary btn-block {{ 'active' if request.args.get('list') == 'all' }}" href="{{ url_for('main_bp.events_list', list='all') }}" role="button">All events</a>
    </div>
    <div class="col">
        <div class="nav-item dropdown">
            <a class="btn btn-outline-primary btn-block dropdown-toggle {{ 'active' if request.args.get('list') == 'author' }}" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events by author</a>
            <div class="dropdown-menu active">
                {% if event_authors %}
                {% for author in event_authors %}
                <a class="dropdown-item" href="{{ url_for('main_bp.events_list', list='author', id=author.id) }}">{{ author.username }}</a>
                {% endfor %}
                {% else %}
                <p style="text-align:center;">No authors</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col">
    <a class="btn btn-outline-primary btn-block active" href="">Search results</a>
    </div>
</nav>
{% for event in events %}
<div class="accordion" id="accordion" role="tablist">
    <center>
        <div class="card border-secondary mb-2 card w-80">
            <!-- <div class="card-header list-group-item-success" role="tab" id="heading{{ event.id }}"> -->
            <div class="card-header list-group-item-action list-group-item-{{ 'success' if event.time_event_start >= today or event.time_event_stop >= today or (event.all_day_event == True and event.time_event_stop == today_only_day) else 'danger' }}" role="tab" id="heading{{ event.id }}">
                <h6 class="mb-0">
                    <a class="collapsed list-group-item-action" data-toggle="collapse" href="#collapse{{ event.id }}" aria-expanded="true" aria-controls="collapse{{ event.id }}">
                        <div class="row align-items-center">
                            <table style="width:100%">
                                <tr>
                                    <td class="font-weight-bolder" width="20%">
                                        {% if event.all_day_event %}
                                        {{ event.time_event_start.strftime('%Y-%m-%d') }}
                                        {% else %}
                                        {{ event.time_event_start.strftime('%Y-%m-%d %H:%M') }}
                                        {% endif %}
                                    </td>
                                    <td width="40%">
                                        <strong>Title: </strong>{{ event.title }}
                                    </td>
                                    <td width="20%">
                                        <strong>Author: </strong>{{ event.author}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </a>
                </h6>
            </div>

            <div id="collapse{{ event.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ event.id }}">
                <div class="card-body text-dark text-left">
                    <div class="card-text mb-3">
                        <h6>
                            <table style="width:100%">
                                <tr>
                                    <td class="font-weight-bolder pl-5" width="24.5%">
                                        Event time frame:
                                    </td>
                                    <td class="text-muted">
                                        {% if event.all_day_event %}
                                        {% if event.time_event_start != event.time_event_stop %}
                                        {{ event.time_event_start.strftime('%Y-%m-%d') }} - {{ event.time_event_stop.strftime('%Y-%m-%d') }}
                                        {% else %}
                                        {{ event.time_event_start.strftime('%Y-%m-%d') }}
                                        {% endif %}
                                        {% else %}
                                        {{ event.time_event_start.strftime('%Y-%m-%d %H:%M') }} - {{ event.time_event_stop.strftime('%Y-%m-%d %H:%M') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bolder align-top pl-5" width="24.5%">
                                        Details:
                                    </td>
                                    <td class="text-muted text-justify align-top">
                                        {{ event.details }}
                                    </td>
                                </tr>
                            </table>
                        </h6>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-2">
                            <a href="{{ url_for('main_bp.event', event_id=event.id) }}" class="btn btn-info btn-block">Edit</a>
                        </div>
                        <div class="col-md-2">
                            <a href="{{ url_for('main_bp.deactive_event', event_id=event.id) }}" class="btn btn-danger btn-block">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
{% else %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <img src="{{ url_for('static', filename='images/not-found.png') }}" alt="Record not found" class="img-fluid my-auto d-block mx-auto d-block">
</div>
{% endfor %}

{% if total %}
<nav aria-label="...">
    <ul class="pagination">
                <li class="page-item {{ 'disabled' if not prev_url }}">
            <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
        </li>
        {% if page_first != page_current %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main_bp.search', q=request.args.get('q'), page=page_first) }}">{{ page_first }}</a></li>
        {% endif %}
        {% if page_current - page_first > 2 %}
            <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}
        {% if page_prev and page_prev != page_first %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main_bp.search', q=request.args.get('q'), page=page_prev) }}">{{ page_prev }}</a></li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="{{ url_for('main_bp.search', q=request.args.get('q'), page=page_current) }}">{{ page_current }} <span class="sr-only">(current)</span></a>
        </li>
        {% if page_next and page_next != page_last %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main_bp.search', q=request.args.get('q'), page=page_next) }}">{{ page_next }}</a></li>
        {% endif %}
        {% if page_last - page_current > 2 %}
            <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}
        {% if page_last != page_current %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main_bp.search', q=request.args.get('q'), page=page_last) }}">{{ page_last }}</a></li>
        {% endif %}
        <li class="page-item {{ 'disabled' if not next_url }}">
            <a class="page-link" href="{{ next_url }}">Next</a>
        </li>
    </ul>
</nav>
{% endif %}
</div>
{% endblock body %}

